div {
    width: 100%;
    text-align: center;
}

img {
    width: 272;
    height: 92;
}

input {
    width: 580px;
    border: 1px solid rgb(190, 190, 190);
    height: 40px;
    border-radius: 50px;
    align-items: center;
}

button {
    background-color: #f8f9fa;
    border: none;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

button:hover {
    border: 1px solid rgb(187, 185, 181);
}

h2 {
    font-family: Arial;
}
